*.exe
*.identcache
*.local
*.log
*.mi
*.ppu
*.o
*.compiled
*.bak
*.or
*.a
*.rsj
*.dcu
*.dsk
*.~dsk
*.iml
*.ini
*.stat
*.rar
*.avi
*.mp4
*.log.txt
bugreport.txt
/.idea
/bat/rsvars_local.bat
/bat/build_time.txt
/bat/timer.txt
/KaM_Remake.drc
/KaM_Remake.map
/KaM_Remake.res
/Export
/Saves
/SavesMP
/SpriteInterp
/SpriteResource/gui.rx
/SpriteResource/guimain.rx
/SpriteResource/guimainh.rx
/SpriteResource/houses.rx
/SpriteResource/trees.rx
/SpriteResource/units.rx
/data/Sprites
/data/defines/houses.dat
/data/defines/pattern.dat
/data/defines/unit.dat
/data/gfx/video 
/data/gfx/*.bbm
/data/gfx/*.lbm
/data/sfx
/Installer/BuildFull*
/Installer/BuildUpdate*
/Installer/CheckKaM.iss
/Installer/Constants_local.iss
/Utils/DedicatedServer/KaM_Remake_Server_linux_x86
/Utils/DedicatedServer/KaM_Remake_Server_linux_x86_64
/dcu
/out
/src/net/KM_NetAuthSecure.pas
__history
__recovery
*.tvsconfig
/Utils/*/*.dll
/Utils/*/*.res
/Utils/*/*.map
/Utils/*/*.drc
/Test*/*.res
/Utils/*/KaM_Remake_Server_Status.*

/Logs/PerfLog.txt

/Music/*.mp2
/Music/23 - Market.mp3
/Music/24 - Household.mp3

Trees.txt

MapsDL/

kmr_dev.xml
KaM Remake Settings.xml

!timer.exe
